.food__tab {
  display: flex;
  justify-content: center;
  width: 135px;
  height: 55px;
  outline: none;
  cursor: pointer;
  border-radius: 45px;
  background: linear-gradient(0deg, #ECEEF6, #ECEEF6), #59AAF1;
  align-items: center;
  color: #000000;
}

@media screen and (max-width: 768px){
  .food__tab{
    width: 100%;
  }
}