.food__grid-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px;
  height: 426px;
  position: relative;
  z-index: 0;
  background-image: url(../../../images/food/grid-card-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}