@import url(./__img/delivery__img.css);
@import url(./__order-form/delivery__order-form.css);
@import url(./__content-title/delivery__content-title.css);
@import url(./__cover/delivery__cover.css);
@import url(./__icons/delivery__icons.css);

.delivery {
  margin: 0 auto;
  margin-top: 127px;
  max-width: 1440px;
  height: 575px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F0F5FB;
  position: relative;
  z-index: 1;
}